<div id="modal-adicionar-producao" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden">
    <div class="bg-white dark:bg-gray-900 rounded-xl shadow-2xl p-8 w-full max-w-md m-4">
        <div class="flex justify-between items-center mb-6">
            <h3 class="text-2xl font-bold text-gray-800 dark:text-white">Adicionar Nova Produção</h3>
            <button id="modal-close-btn" class="text-gray-500 dark:text-gray-400 hover:text-gray-800 dark:hover:text-white">
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>
        <form action="{% url 'producoes' email_usuario=request.user.pk %}" method="POST" class="space-y-6">
            {% csrf_token %}
            {{ adicionar_producao.action }}
            <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2"
                    for="{{ adicionar_producao.id_residuo.id_for_label }}">
                    {{ adicionar_producao.id_residuo.label }}
                </label>
                {{ adicionar_producao.id_residuo }}
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2"
                    for="{{ adicionar_producao.producao.id_for_label }}"> 
                    {{ adicionar_producao.producao.label }}
                </label>
                {{ adicionar_producao.producao }}
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2" for="{{ adicionar_producao.id_catador.id_for_label }}">
                    {{ adicionar_producao.id_catador.label }}
                </label>
                {{ adicionar_producao.id_catador }}
            </div>
             <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2" for="{{ adicionar_producao.data.id_for_label }}"">
                    {{ adicionar_producao.data.label }}
                </label>
                {{ adicionar_producao.data }}
            </div>
            <div class="flex justify-end pt-4 space-x-4">
                <button id="modal-cancel-btn"
                    class="py-2 px-4 bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-lg hover:bg-gray-300 dark:hover:bg-gray-600 font-medium"
                    type="button">Cancelar</button>
                <button class="py-2 px-6 bg-primary text-white font-bold rounded-lg hover:bg-primary/90"
                    type="submit">Salvar</button>
            </div>
        </form>
    </div>
</div>