{% extends 'base_dashboard.html' %}
{% block dashboard_content %}

<div class="flex h-screen w-full">
    <main class="flex-1 p-8 overflow-y-auto">
        <div class="flex justify-between items-center mb-8">
            {% if request.user.tipo_usuario == 'CO' %}
                <h2 class="text-3xl font-bold text-gray-800 dark:text-white">Produções de Catadores</h2>
            {% else %}
                <h2 class="text-3xl font-bold text-gray-800 dark:text-white">Minhas Produções</h2>
            {% endif %}
        </div>

        {% include 'components/messages_container.html' %}


        <div class="space-y-8">
            {% if request.user.tipo_usuario == 'CO' %}
            <div>
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">Produções por Catador</h3>
                    <button id="adicionar-producao-btn"
                        class="bg-primary hover:bg-primary/90 text-white font-bold py-2 px-4 rounded-lg flex items-center">
                        <span class="material-symbols-outlined mr-2">add</span>
                        Adicionar Produção
                    </button>

                    {% include 'producao/cadastrar_producao.html' with adicionar_producao=adicionar_producao_form %}
                </div>
                <div class="bg-white dark:bg-gray-900 p-6 rounded-xl shadow-sm">
                    <div class="overflow-x-auto">
                        <table class="w-full text-left">
                            <thead>
                                <tr class="border-b border-gray-200 dark:border-gray-800">
                                    <th class="py-4 px-4 font-semibold text-gray-500 dark:text-gray-400">Catador
                                    </th>
                                    <th class="py-4 px-4 font-semibold text-gray-500 dark:text-gray-400">Data</th>
                                    <th class="py-4 px-4 font-semibold text-gray-500 dark:text-gray-400">Material</th>
                                    <th class="py-4 px-4 font-semibold text-gray-500 dark:text-gray-400">Status</th>
                                    <th class="py-4 px-4 font-semibold text-gray-500 dark:text-gray-400 text-right">
                                        Volume (kg)</th>
                                    {% if request.user.tipo_usuario == 'CO' %}
                                    <th class="py-4 px-4 font-semibold text-gray-500 dark:text-gray-400 text-center">
                                        Ações
                                    </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for producao in producoes %}
                                    {% if producao.status != 'z' %}
                                        <tr class="border-b border-gray-200 dark:border-gray-800 hover:bg-gray-50 dark:hover:bg-gray-800/50"
                                            data-id-producao="{{ producao.pk }}"
                                            data-tipo-residuo="{{ producao.id_residuo.tipo }}"
                                            data-data-producao="{{ producao.data|date:'Y-m-d' }}"
                                            data-quantidade="{{ producao.producao }}"
                                            data-id-catador="{{ producao.id_catador.pk }}">
                                            <td class="py-4 px-4 text-gray-800 dark:text-white">{{ producao.id_catador.nome }}</td>
                                            <td class="py-4 px-4 text-gray-600 dark:text-gray-300"> {{ producao.data|date }}  </td>
                                            <td class="py-4 px-4 text-gray-600 dark:text-gray-300"> {{ producao.id_residuo.get_tipo_display }}  </td>
                                            {% if producao.status == 'l' %}
                                                <td class="py-4 px-4">
                                                    <span class="px-2.5 py-0.5 rounded-lg bg-green-100 text-green-800">{{ producao.get_status_display }}</span>
                                                </td>                                    
                                            {% else %}
                                                <td class="py-4 px-4">
                                                    <span class="inline-block max-w-[120px] px-2.5 py-0.5 rounded-lg bg-yellow-100 text-yellow-800">{{ producao.get_status_display }}</span>
                                                </td>
                                            {% endif %}
                                            <td class="py-4 px-4 text-gray-800 dark:text-white text-right"> {{ producao.producao }} </td>
                                            {% if producao.status == 'l' and request.user.tipo_usuario == 'CO' %}
                                                <td class="py-4 px-4 flex justify-center items-center space-x-2">
                                                    <button class="edit-producao-btn text-blue-500 hover:text-blue-700" title="Editar Produção">
                                                        <span class="material-symbols-outlined">edit</span>
                                                    </button>
                                                    <button class="delete-btn text-red-500 hover:text-red-700" title="Excluir Produção">
                                                        <span class="material-symbols-outlined">delete</span>
                                                    </button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                {% include 'producao/alterar_producao.html' with alterar_producao=alterar_producao_form %}
                                {% include 'producao/remover_producao.html' %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% elif request.user.tipo_usuario == 'CA' %}
             <div>
                <div class="bg-white dark:bg-gray-900 p-6 rounded-xl shadow-sm">
                    <div class="overflow-x-auto">
                        <table class="w-full text-left">
                            <thead>
                                <tr class="border-b border-gray-200 dark:border-gray-800">
                                    <th class="py-4 px-4 font-semibold text-gray-500 dark:text-gray-400">Data</th>
                                    <th class="py-4 px-4 font-semibold text-gray-500 dark:text-gray-400">Material</th>
                                    <th class="py-4 px-4 font-semibold text-gray-500 dark:text-gray-400">Status</th>
                                    <th class="py-4 px-4 font-semibold text-gray-500 dark:text-gray-400 text-right">Volume (kg)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producao in producoes_catador %}
                                <tr class="border-b border-gray-200 dark:border-gray-800 hover:bg-gray-50 dark:hover:bg-gray-800/50"">
                                    <td class="py-4 px-4 text-gray-800 dark:text-white">{{ producao.data }}</td>
                                    <td class="py-4 px-4 text-gray-600 dark:text-gray-300"> {{ producao.id_residuo.get_tipo_display }} </td>
                                    {% if producao.status == 'l' %}
                                    <td class="py-4 px-4">
                                        <span class="px-2.5 py-0.5 rounded-lg bg-green-100 text-green-800">{{ producao.get_status_display }}</span>
                                    </td>                                    
                                    {% else %}
                                    <td class="py-4 px-4">
                                        <span class="inline-block max-w-[120px] px-2.5 py-0.5 rounded-lg bg-yellow-100 text-yellow-800">{{ producao.get_status_display }}</span>
                                    </td>
                                {% endif %}
                                    <td class="py-4 px-4 text-gray-800 dark:text-white text-right"> {{ producao.producao }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
</div>
{% endblock dashboard_content %}

{% block footer_scripts %}
{% load static %}
    <script src="{% static 'js/producao/alterar_producao.js' %}"></script>
    <script src="{% static 'js/producao/remover_producao.js' %}"></script>
    <script src="{% static 'js/producao/producao.js' %}"></script>
    <script src="{% static 'js/producao/adicionar_producao.js' %}"></script>

{% endblock footer_scripts %}
