{% extends 'base_dashboard.html' %}
{% block dashboard_content %}

<div class="flex h-screen">
    <main class="flex-1 p-8 overflow-y-auto">
        <h2 class="text-3xl font-bold text-gray-800 dark:text-white mb-8">Dashboard do Administrador</h2>

        {% include 'components/messages_container.html' %}

        <div class="bg-surface-light dark:bg-surface-dark p-6 rounded-xl shadow-sm">
            <h3 class="text-xl font-bold text-gray-800 dark:text-white mb-6">Gerenciamento de Usuários</h3>
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th class="px-6 py-3" scope="col">Email</th>
                            <th class="px-6 py-3" scope="col">Nome</th>
                            <th class="px-6 py-3" scope="col">Tipo de Usuário</th>
                            <th class="px-6 py-3" scope="col">CNPJ</th>
                            <th class="px-6 py-3" scope="col">Status</th>
                            <th class="px-6 py-3" scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr class="bg-white border-b dark:bg-surface-dark dark:border-gray-700">
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{ usuario.email }} </td>
                            <td class="px-6 py-4"> {{ usuario.nome }} </td>
                            <td class="px-6 py-4"> {{ usuario.get_tipo_usuario_display }} </td>
                            <td class="px-6 py-4">
                                {% if usuario.tipo_usuario == 'E' %}
                                {{ usuario.cnpj }}
                                {% else %}
                                -
                                {% endif %}
                            </td>
                            <td class="px-6 py-4">
                                {% if usuario.status == 'EA' or usuario.status == 'D' %}
                                <span
                                    class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">
                                    <span class="w-2 h-2 mr-1.5 bg-yellow-500 rounded-full"></span>
                                    {{ usuario.get_status_display }}
                                </span>
                                {% else %}
                                <span
                                    class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300">
                                    <span class="w-2 h-2 mr-1.5 bg-green-500 rounded-full"></span>
                                    {{ usuario.get_status_display }}
                                </span>
                                {% endif %}
                            </td>
                            <td class="px-6 py-4 flex items-center space-x-2">
                                {% if usuario.status == 'A' %}
                                    <button type="button" class="modal-desativar-conta-btn text-green-500 hover:text-green-700" title="Desativar Conta"
                                        data-usuario-email="{{ usuario.pk }}">
                                        <span class="material-symbols-outlined">how_to_reg</span>
                                    </button>
                                    {% include 'gestao_usuarios/modal_desativar_usuario.html' with novo_usuario=usuario %}
                                {% elif usuario.status == 'EA' %}
                                    <button type="button" class="ativar-conta-btn text-green-500 hover:text-green-700" title="Aprovar Conta"
                                        data-usuario-email="{{ usuario.pk }}"
                                        data-usuario-nome="{{ usuario.nome }}"
                                        data-usuario-status="{{ usuario.get_status_display }}">
                                        <span class="material-symbols-outlined">check_box</span>
                                    </button>
                                    {% include 'gestao_usuarios/aprovar_usuario.html' with email_novo_usuario=usuario.pk %}
                                {% elif usuario.status == 'D' %}
                                    <button type="button" class="reativar-conta-btn text-green-500 hover:text-green-700"
                                        title="Reativar Conta">
                                        <span class="material-symbols-outlined">published_with_changes</span>
                                    </button>
                                    {% include 'gestao_usuarios/modal_reativar_usuario.html' with usuario=usuario %}

                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
{% endblock dashboard_content %}

{% block footer_scripts %}
{% load static %}
<script src="{% static 'js/gestao_usuarios.js' %}"></script>
{% endblock footer_scripts %}