{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="flex flex-col min-h-screen">
    <main class="flex-grow flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full bg-white/50 max-w-md space-y-8 p-8 md:p-10 rounded-xl shadow-md">
            <div class="flex flex-col items-center gap-3">
                <h2 class="text-center text-3xl font-extrabold text-slate-900 dark:text-white">Insira seu E-mail
                </h2>
                <p>Enviaremos um link para redefinição de senha</p>
            </div>
            <form action="" class="space-y-6" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next|default:'' }}">
                {{ form.non_field_errors }}
                <div class="space-y-4">
                     <div class="relative w-full">
                         {% with common_classes="appearance-none w-full rounded-lg block px-4 py-3 border border-gray-300 dark:border-gray-700 text-gray-900 dark:text-white bg-transparent focus:outline-none focus:ring-primary focus:border-primary sm:text-sm peer placeholder-transparent" %}
                            {{ form.email|add_class:common_classes|attr:"placeholder: " }}
                        {% endwith %}
                        <label id="label-nome" for="{{ form.email.id_for_label }}" class="absolute left-4 top-3 text-gray-500 dark:text-gray-300 transition-all duration-150 transform origin-left pointer-events-none
                                        peer-placeholder-shown:opacity-100 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:text-base
                                        peer-focus:-top-3 peer-focus:opacity-100 peer-focus:translate-y-0 peer-focus:text-sm peer-focus:text-primary
                                        opacity-0 -translate-y-2">
                            Email
                        </label>
                    </div>
                </div>

                <div>
                    <button
                        class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-bold rounded-lg text-slate-900 bg-primary hover:bg-primary/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary transition-colors"
                        type="submit">
                        Enviar E-mail
                    </button>
                </div>
                <p class="text-center text-sm text-slate-600 dark:text-slate-400">
                    Não tem uma conta?
                    <a class="font-medium text-primary hover:text-primary/90" href="{% url 'cadastro' %}">Cadastre-se</a>
                </p>
            </form>
        </div>
    </main>
</div>
{% endblock %}