 <div class="message-container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-4">
    {% for message in messages %}
        <div class="p-4 rounded-lg shadow-md mb-4 flex items-center justify-between
            {% if message.tags == 'success' %}
                bg-green-100 border-l-4 border-green-500 text-green-700 dark:bg-green-900 dark:text-green-200
            {% elif message.tags == 'error' %}
                bg-red-100 border-l-4 border-red-500 text-red-700 dark:bg-red-900 dark:text-red-200
            {% elif message.tags == 'warning' %}
                bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 dark:bg-yellow-900 dark:text-yellow-200
            {% else %}
                bg-blue-100 border-l-4 border-blue-500 text-blue-700 dark:bg-blue-900 dark:text-blue-200
            {% endif %}
            " role="alert">
            
            <p class="font-medium">
                {{ message }}
            </p>
            
            </div>
    {% endfor %}
</div>