{% extends 'base_dashboard.html' %}
{% load mathfilters %}
{% block dashboard_content %}

<main class="flex-1 p-8 overflow-y-auto">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold text-gray-800 dark:text-white">Negociações Correntes</h2>
    </div>
    <!-- <div class="grid grid-cols-3 gap-4 mb-8">
        <div class="relative">
            <select
                class="w-full pl-4 pr-10 py-2 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg focus:ring-primary focus:border-primary appearance-none text-sm">
                <option selected="">Filtrar por Empresa</option>
                <option>Indústria Têxtil Fibras S.A.</option>
                <option>Recicla Papel e Celulose</option>
                <option>Garrafas de Vidro Reciclado Ltda.</option>
                <option>Metalúrgica Aço Forte</option>
            </select>
            <span
                class="material-symbols-outlined absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none">expand_more</span>
        </div>
        <div class="relative">
            <select
                class="w-full pl-4 pr-10 py-2 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg focus:ring-primary focus:border-primary appearance-none text-sm">
                <option selected="">Filtrar por Resíduo</option>
                <option>Plástico PET</option>
                <option>Papelão Ondulado</option>
                <option>Vidro (Garrafas)</option>
                <option>Metal (Alumínio)</option>
            </select>
            <span
                class="material-symbols-outlined absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none">expand_more</span>
        </div>
        <div class="relative">
            <select
                class="w-full pl-4 pr-10 py-2 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg focus:ring-primary focus:border-primary appearance-none text-sm">
                <option selected="">Filtrar por Status</option>
                <option>Em Andamento</option>
                <option>Aguardando Coleta</option>
                <option>Em Transporte</option>
                <option>Aguardando Confirmação de Pagamento</option>
            </select>
            <span
                class="material-symbols-outlined absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none">expand_more</span>
        </div>
    </div> -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for negociacao in negociacoes %}
        <div class="bg-white dark:bg-gray-900 p-6 rounded-xl shadow-sm">
            <div class="flex justify-between items-start">
                <div>
                    <h3 class="text-lg font-bold text-gray-800 dark:text-white"> {{ negociacao.id_residuo.get_tipo_display }} </h3>
                    {% if request.user.tipo_usuario == 'E' %}
                        <p class="text-sm text-gray-500 dark:text-gray-400"> {{ negociacao.id_cooperativa.nome }} </p>
                    {% else %}
                        <p class="text-sm text-gray-500 dark:text-gray-400"> {{ negociacao.id_empresa.nome }} </p>
                    {% endif %}
                </div>
                {% if negociacao.status == 'ACE' or negociacao.status == 'ACC' or negociacao.status == 'ACPE' or negociacao.status == 'ACPC' %}
                    <span
                        class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
                        {{ negociacao.get_status_display }}
                    </span>
                {% elif negociacao.status == 'AC' or negociacao.status == 'ET' %}
                    <span
                        class="bg-yellow-100 text-yellow-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">
                        {{ negociacao.get_status_display }}
                    </span>
                {% endif %}
            </div>
            <div class="mt-4 space-y-3">
                <div class="flex justify-between">
                    <span class="font-medium text-gray-600 dark:text-gray-300">Quantidade:</span>
                    <span class="font-semibold text-gray-800 dark:text-white"> {{ negociacao.quantidade }} </span>
                </div>
                <div class="flex justify-between">
                    <span class="font-medium text-gray-600 dark:text-gray-300">Preço por kg:</span>
                    <span class="font-semibold text-gray-800 dark:text-white"> {{ negociacao.preco }} </span>
                </div>
                <div class="flex justify-between">
                    {% if request.user.tipo_usuario == 'E' %}
                        <span class="font-medium text-gray-600 dark:text-gray-300">Valor a Pagar:</span>
                    {% else %}
                        <span class="font-medium text-gray-600 dark:text-gray-300">Valor a Receber:</span>
                    {% endif %}
                    <span class="font-semibold text-green-600 dark:text-primary">R$ {{ negociacao.preco|mul:negociacao.quantidade|floatformat:2 }} </span>
                </div>
                <div class="flex justify-between items-center mt-4 border-t border-gray-200 dark:border-gray-700 pt-3">
                    <a class="font-semibold text-blue-600 hover:underline dark:text-blue-400" href="{% url 'detalhes_negociacao' email_usuario=request.user.pk id_negociacao=negociacao.pk %}">Ver detalhes da
                        negociação</a>
                </div>
            </div>
            {% if negociacao.contestacoes_preco.count == 0 and negociacao.status == 'ACC' and request.user.tipo_usuario == 'CO' or negociacao.contestacoes_preco.count == 0 and negociacao.status == 'ACE' and request.user.tipo_usuario == 'E' %}
                <div class="mt-6 space-y-2">
                    <button data-negociacao-id="{{ negociacao.pk }}"
                            data-tipo-usuario="{{ request.user.tipo_usuario }}"
                            class="confirmar-negociacao-btn w-full bg-primary/20 hover:bg-primary/30 text-primary font-bold py-2 px-4 rounded-lg flex items-center justify-center space-x-2">
                        <span class="material-symbols-outlined">thumb_up</span>
                        <span>Confirmar Negociação</span>
                    </button>
                    <button data-negociacao-id="{{ negociacao.pk }}"
                            data-tipo-usuario="{{ request.user.tipo_usuario }}"
                            class="sair-negociacao-btn w-full bg-red-100 hover:bg-red-200 text-red-600 font-bold py-2 px-4 rounded-lg flex items-center justify-center space-x-2 dark:bg-red-900/50 dark:hover:bg-red-900/70 dark:text-red-400">
                        <span class="material-symbols-outlined">cancel</span>
                        <span>Sair da negociação</span>
                    </button>
                    <button data-negociacao-id="{{ negociacao.pk }}"
                            data-tipo-usuario="{{ request.user.tipo_usuario }}"
                            data-preco-atual="{{ negociacao.preco }}"
                            class="contestar-preco-btn w-full bg-yellow-100 hover:bg-yellow-200 text-yellow-800 font-bold py-2 px-4 rounded-lg flex items-center justify-center space-x-2 dark:bg-yellow-900/50 dark:hover:bg-yellow-900/70 dark:text-yellow-400">
                        <span class="material-symbols-outlined">gavel</span>
                        <span>Contestar preço</span>
                    </button>
                </div>
            {% elif negociacao.contestacoes_preco.count > 0 and negociacao.status == 'ACC' or negociacao.contestacoes_preco.count > 0 and negociacao.status == 'ACE' %}
            <div class="mt-6 space-y-2">
                Existe uma contestação de preço ativa. Confira-a na seção 'Ver Detalhes de Negociação'.
            </div>
            {% elif negociacao.status == 'ACE' and request.user.tipo_usuario == 'CO' or negociacao.status == 'ACC' and request.user.tipo_usuario == 'E' %}
            <div class="mt-6 space-y-2">
                Aguarde a outra parte realizar a confirmação ou contestação de preço. 
            </div>
            {% elif negociacao.status == 'AC' %}
                {% if request.user.tipo_usuario == 'CO' %}
                <div class="mt-6 space-y-2">
                    <button 
                        data-id-negociacao="{{ negociacao.pk }}"
                        class="confirmar-coleta-btn w-full bg-green-100 hover:bg-green-200 text-green-800 font-bold py-2 px-4 rounded-lg flex items-center justify-center space-x-2 dark:bg-green-900/50 dark:hover:bg-green-900/70 dark:text-green-400">
                    <span class="material-symbols-outlined">check_circle</span>
                    <span>Confirmar Coleta</span>
                    </button>
                </div>
                    {% include 'negociacao/confirmar_coleta.html' with confirmar_coleta_form=confirmar_coleta_form %}
                {% else %}
                    <p class="mt-3 text-base text-gray-600 dark:text-gray-400 font-medium text-center">Aguarde a cooperativa confirmar a coleta dos resíduos.</p>
                {% endif %}
            {% elif negociacao.status == 'ET' %}
                {% if request.user.tipo_usuario == 'E' %}
                <div class="mt-6 space-y-2">
                    <button 
                        data-id-negociacao="{{ negociacao.pk }}"
                        class="confirmar-entrega-btn w-full bg-green-100 hover:bg-green-200 text-green-800 font-bold py-2 px-4 rounded-lg flex items-center justify-center space-x-2 dark:bg-green-900/50 dark:hover:bg-green-900/70 dark:text-green-400">
                        <span class="material-symbols-outlined">local_shipping</span>
                        <span>Confirmar Entrega</span>
                    </button>
                </div>
                    {% include 'negociacao/confirmar_entrega.html' with confirmar_entrega_form=confirmar_entrega_form %}
                {% else %}
                    <p class="mt-3 text-base text-gray-600 dark:text-gray-400 font-medium text-center">Aguarde a empresa confirmar a entrega dos resíduos.</p>
                {% endif %}
            {% elif negociacao.contestacoes_pgto.count == 0 and negociacao.status == 'ACPE' and request.user.tipo_usuario == 'E' or negociacao.contestacoes_pgto.count == 0 and negociacao.status == 'ACPC' and request.user.tipo_usuario == 'CO'%}
                <div class="mt-6 space-y-2">
                        <button 
                            data-id-negociacao="{{ negociacao.pk }}"
                            class="confirmar-pgto-btn w-full bg-green-100 hover:bg-green-200 text-green-800 font-bold py-2 px-4 rounded-lg flex items-center justify-center space-x-2 dark:bg-green-900/50 dark:hover:bg-green-900/70 dark:text-green-400">
                            <span class="material-symbols-outlined">local_shipping</span>
                            <span>Confirmar Pagamento</span>
                        </button>
                        {% if request.user.tipo_usuario == 'CO' and negociacao.contestacoes_pgto.count == 0 %}
                            <button data-negociacao-id="{{ negociacao.pk }}"
                                    data-tipo-usuario="{{ request.user.tipo_usuario }}"
                                    class="contestar-pgto-btn w-full bg-yellow-100 hover:bg-yellow-200 text-yellow-800 font-bold py-2 px-4 rounded-lg flex items-center justify-center space-x-2 dark:bg-yellow-900/50 dark:hover:bg-yellow-900/70 dark:text-yellow-400">
                                <span class="material-symbols-outlined">gavel</span>
                                <span>Contestar Pagamento</span>
                            </button>

                          {% url 'negociacoes' email_usuario=request.user.pk as negociacoes_url %}
                          {% include 'negociacao/modal_contestar_pagamento.html' with contestar_pagamento_form=contestar_pagamento_form modal_post_url=negociacoes_url %}

                        {% endif %}
                </div>
            {% elif negociacao.contestacoes_pgto.count > 0 and negociacao.status == 'ACPE' or negociacao.contestacoes_pgto.count > 0 and negociacao.status == 'ACPC' %}
            <div class="mt-6 space-y-2">
                Existe uma contestação de pagamento ativa. Confira-a na seção 'Ver Detalhes de Negociação'.
            </div>
            {% elif negociacao.status == 'ACPC' and request.user.tipo_usuario == 'E' %}
                <p class="mt-3 text-base text-gray-600 dark:text-gray-400 font-medium text-center">Aguarde a cooperativa confirmar o pagamento.</p>
            {% elif negociacao.status == 'ACPE' and request.user.tipo_usuario == 'CO' %}
                <p class="mt-3 text-base text-gray-600 dark:text-gray-400 font-medium text-center">Aguarde a empresa confirmar o pagamento.</p>
            {% endif %}
        </div>
        
         {% include 'negociacao/confirmar_negociacao.html' with confirmar_negociacao_form=confirmar_negociacao_form %}
         {% include 'negociacao/contestar_preco.html' with contestar_preco_form=contestar_preco_form negociacao=negociacao %}
         
         {% url 'negociacoes' email_usuario=request.user.pk as negociacoes_url %}
         {% url 'visualizar_comprovante_negociacao' email_usuario=request.user.pk id_negociacao=negociacao.pk as comprovante_url_negociacao %}
         {% include 'negociacao/confirmar_pagamento.html' with confirmar_pagamento_form=confirmar_pagamento_form tipo_usuario=request.user.tipo_usuario negociacao=negociacao modal_post_url=negociacoes_url comprovante_url_download=comprovante_url_negociacao %}

         {% endfor %}

</main>

{% endblock dashboard_content %}

{% block footer_scripts %}
{% load static %}
    <script src="{% static 'js/negociacao/confirmar_negociacao.js' %}"></script>
    <script src="{% static 'js/negociacao/contestar_preco.js' %}"></script>
    <script src="{% static 'js/negociacao/confirmar_coleta.js' %}"></script>
    <script src="{% static 'js/negociacao/confirmar_entrega.js' %}"></script>
    <script src="{% static 'js/negociacao/confirmar_pagamento.js' %}"></script>
    <script src="{% static 'js/negociacao/contestar_pagamento.js' %}"></script>
    {% endblock footer_scripts %}